@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style= "background-color: greenyellow">Welcome to Student Portal</h1>
    
    <li class="alert-info" style="list-style-type: none" >
        <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Add"> Add Students Details</a>
    </li>
</div>
